.PlaygroundEditorTheme__ul {
  list-style-type: circle;
}
.PlaygroundEditorTheme__ol1 {
  list-style-type: numbered;
}
.toolbar {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
