.PlaygroundEditorTheme__ul {
  list-style-type: circle;
}
.PlaygroundEditorTheme__ol1 {
  list-style-type: numbered;
}
.toolbar {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
/* h1 {
  font-size: 48px;
} */
/* h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
} */
